
*{
    box-sizing: border-box;
}
#LogInContainerBackground{
     overflow:hidden;
     background-size: cover;
    width: 100%;
    height: 100%;
}
#LogInContainer {
    margin-top: 0.3%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-color: #2739d6;
    position:absolute;
    z-index: 1;
    background:rgba(231, 231, 235, 0.877);
}

#LogInHeader{
    width: 60%;
    height: 15%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 8px 8px 0 0;
    background-color: #2739d6;
    font-style: oblique;
    font-variant: all-small-caps;

}
#LogInHeaderTitle {
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    font-weight: bolder;
    color: #FFFFFF;
}

#LogInFormContainer {
    padding: 10px 10px;
    width: 60%;
    height: 50%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #FFFFFF;
    justify-self: center;
    border-bottom: 8px;
    position: relative;
    border-style: solid;
    border-color: rgb(197, 204, 206);
    
}


#LogInForm {
    display: block;
    margin: 0px auto;
}


.LogInRow input {
    height: 1%;
    width: 55%;
    margin: 2vh;
    padding: 0.2vw;
    border-style: none  none solid none;
    border-color: rgb(105, 222, 238);
}
.LogInRow input:focus{
    border-style: none none solid none;
    border-color:rgb(125, 145, 233);
}
.LogInRow input[type=checkbox] {
    height: 15px;
    width: 2vh;
    margin: 2vh;
}

.LogInRow button{
    text-align: center;
    margin:10%;
    padding: 1%;
    font-family: Helvetica;
   
}




button:hover{
    background-color:#2739d6;
}

