
button:hover{
    background-color:#2739d6;
}

button::after{
    font-weight: bold;
     font-variant: small-caps;
 background-color: rgb(197, 204, 206);
 border-style: none;
 border-color:none;
 border-radius: 8px;
 color: white;
 cursor: pointer;
}
button:focus{
    outline: none;
}
